{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="{% static 'css/signup_styles.css' %}">
</head>

<body>

    {%block content%}

    {% endblock %}

    <script src="{% static 'lib/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script_validaciones.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script_admin_signup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script_admin_login.js' %}"></script>
</body>

</html>